﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Secure Key Management</h1>
    <p class="lead">The environment for managing SECube device users and groups.</p>
    <p><a href="http://www.secube.eu/" class="btn btn-primary btn-lg">See more about SECube &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>
    </div>
</div>